<header class="card">
  <h1>TODO</h1>
  <button id="theme-switcher" (click)="toggleTheme()">
    <div [ngClass]="isLightTheme ? 'icon-light' : 'icon-dark'"></div>
  </button>
</header>
<main>
  <div class="card add">
    <div class="cb-container">
      <button id="add-btn" (click)="addTask(newTask.value)">+</button>
    </div>
    <div class="txt-container">
      <label for="addt">Create todo</label>
      <input
        type="text"
        class="txt-input"
        placeholder="Create a new todo..."
        spellcheck="false"
        autocomplete="off"
        id="addt"
        #newTask
      />
    </div>
  </div>
  <ul class="todos">
    <li *ngFor="let task of tasks; trackBy: trackTaskById" class="card" [ngClass]="{'checked': task.status === 'COMPLETED'}" draggable="true" #card>
      <div class="cb-container">
        <input type="checkbox" [checked]="task.status === 'COMPLETED'" (click)="changeStatus(task, $event, card)" class="cb-input"/>
        <span class="check"></span>
      </div>
      <input type="text" class="item" [readonly]="editingTaskId !== task.id" [value]="task.description" #currentTask/>
      <button class="clear" (click)="toggleEditMode(task.id, currentTask, currentTask.value)">{{ editingTaskId === task.id ? 'Save' : 'Edit' }}</button>
      <button class="clear" (click)="removeTask(task.id)"><div class="clear-icon"></div></button>
    </li>
  </ul>
  <div class="card stat">
    <p class="corner"><span id="items-left">0</span> items left</p>
    <div class="filter">
      <button id="all" class="on">All</button>
      <button id="active">Active</button>
      <button id="completed">Completed</button>
    </div>
    <div class="corner">
      <button id="clear-completed">Clear Completed</button>
    </div>
  </div>
</main>
<footer>
  <p>Drag and drop to reorder list</p>
</footer>
